<h1>Edit Topic</h1>

<div class="row">
	<div class="col-md-4">
		<p>Guidlines For Topics:</p>
		<ul>
			<li>make sure the topic is appropriate.</li>
			<li>never insult dogs.</li>
			<li>smile when you type.</li>
		</ul>
	</div>
	<div class="col-md-8">
		<h3>New Topic Form</h3>
	</div>
</div>