<h1><%= @topic.name %></h1>


<div class="row">
	<div class="col-md-8">
		<p class="lead"><%= @topic.description %></p>
		<% @posts.each do |post| %>
			<div class="media">
				<h4 class="media-heading">
					<%= link_to post.title, [@topic, post] %>
				</h4>
			</div>
	</div>
	<% end %>
	<div class="col-md-4">
		<%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-primary' %>
	</div>
</div>